html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
    }

    html {
        position: relative;
        min-height: 100%;
    }

    h1 {
    }

    .Titel1 {
        margin-top: 10mm;
        margin-left: 100mm;
        font-size: 50px;
        color: white;
    }

    .mainBox {
        margin-top: 5mm;
        margin-left: 35mm;
    }

    .mainArticleBox {
        text-decoration-color: brown;
        color: #262831;
        font-weight: 600;
        font-size: 23px;
    }

    .mainArticleDescriptionBox {
        color: darkblue;
        font-weight: 400;
        font-size: 18px;
        background-blend-mode: hard-light;
    }

    .href {
        text-decoration-color: #4cde2f;
        color: brown;
    }

    header {
        margin-top: 5mm;
        background-color: darkred;
    }

    #Titel {
        background-color: aqua;
        color: brown;
    }

    nav.navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 {
        color: aqua;
    }

    .navbar-collapse {
    }

    .navbar-nav {
        display: flex;
        gap: 5px;
        background-color: bisque;
    }

        .navbar-nav > li {
            background-color: burlywood;
        }

    .navbar-brand {
        background-color: burlywood;
    }

    head {
        background-color: burlywood;
    }

    body {
        background-image: url('../images/tropical-palm-leaves-shadow-white-wall.jpg');
    }





    .modal {
        width: 300px;
        height: 200px;
        border-radius: 5px;
        border: 1px black solid;
        background: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
        display: none;
        z-index: 5;
        padding: 20px 10px;
    }

    .modal .modal-close {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
        stroke: black;
    }

    .overlay {
        z-index: 3;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.6;
        display: none;
    }

    .modal.shown,
    .overlay.shown {
        display: block;
    }