@using Online_magazine_Diploma.Models.AccountModels;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>Личный кабинет пользователя</h1>

<p>@User.Identity.Name
	@if (User.IsInRole("VipUser"))
	{
		<a style="color:darkorange"> VIP </a>
	}
</p>

<div>
	@if (!User.Identity.IsAuthenticated)
	{
		@using (Html.BeginForm("Login", "Account", FormMethod.Get))
		{
			<button type="submit"> Авторизоваться </button>
		}
		@using (Html.BeginForm("Registration", "Account", FormMethod.Get))
		{
			<button type="submit"> Зарегистрироваться </button>
		}
	}
</div>

<div>
	@if (User.Identity.IsAuthenticated)
	{
		@using (Html.BeginForm("EditUser", "Account", FormMethod.Get))
		{
			<button type="submit"> Редактировать профиль </button>
		}
		@using (Html.BeginForm("LogoutPost", "Account", FormMethod.Post))
		{
			<button type="submit"> Выйти(сменить аккаунт) </button>
		}
		@if (User.IsInRole("User"))
		{
			@using (Html.BeginForm("BeVip", "Account", FormMethod.Get))
			{
				
				<button type="submit"> Получить VIP статус </button>
			}
			<button data-modal-id="modal-1" class="open-modal">Получить VIP статус (modal)</button>

			<div id="modal-1" class="modal">
				<span class="modal-close">
					<svg viewbox="0 0 40 40">
						<path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
					</svg>
				</span>
				<div>
					@{
						await Html.PartialAsync("BeVipPart");
					}
				</div>
			</div>
		}
		else if (User.IsInRole("VipUser"))
		{
			@using (Html.BeginForm("BeVip", "Account", FormMethod.Get))
			{
				
				<button type="submit"> Продлить VIP статус</button>
			}
			<button data-modal-id="modal-2" class="open-modal">Получить VIP статус (modal)</button>

			<div id="modal-2" class="modal">
				<span class="modal-close">
					<svg viewbox="0 0 40 40">
						<path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
					</svg>
				</span>
				<div>
					@{
						await Html.PartialAsync("BeVipPart");
					}
				</div>
			</div>
		}
	}
</div>

<div>
	@if (User.IsInRole("Author"))
	{
		@using (Html.BeginForm("Articles", "Article", FormMethod.Get))
		{
			<button type="submit"> Мои статьи </button>
		}
	}
	
</div>



