
<h1>Личный кабинет пользователя</h1>

<p>@User.Identity.Name
	@if (User.IsInRole("VipUser"))
	{
		<a style="color:darkorange"> VIP </a>
	}
</p>

<div>
	@if (!User.Identity.IsAuthenticated)
	{
		@using (Html.BeginForm("Login", "Account", FormMethod.Get))
		{
			<button type="submit"> Авторизоваться </button>
		}
		@using (Html.BeginForm("Registration", "Account", FormMethod.Get))
		{
			<button type="submit"> Зарегистрироваться </button>
		}
	}
</div>

<div>
	@if (User.Identity.IsAuthenticated)
	{
		@using (Html.BeginForm("EditUser", "Account", FormMethod.Get))
		{
			<button type="submit"> Редактировать профиль </button>
		}
		@using (Html.BeginForm("LogoutPost", "Account", FormMethod.Post))
		{
			<button type="submit"> Выйти(сменить аккаунт) </button>
		}
		@if (User.IsInRole("User"))
		{
			@using (Html.BeginForm("BeVip", "Account", FormMethod.Get))
			{
				<button type="submit"> Получить VIP статус </button>
			}
		}
		else if (User.IsInRole("VipUser"))
		{
			@using (Html.BeginForm("BeVip", "Account", FormMethod.Get))
			{
				<button type="submit"> Продлить VIP статус</button>
			}
		}
	}
</div>

<div>
	@if (User.IsInRole("Author"))
	{
		@using (Html.BeginForm("Articles", "Article", FormMethod.Get))
		{
			<button type="submit"> Мои статьи </button>
		}
	}
	
</div>



